



h2{

    color:#67128A;

}


h3{

    color:#0A55B4;

}




h1{

    color:#67128A;

}




body{

    background-color:#8A787C;


}






body{

    margin: 0;


}


h1{

text-align: center;

}




p{

    text-align: center;
    
    }



    
h2{

    text-align: center;
    
    }
    




    
h3{

    text-align: center;
    
    }
    
    

   




    
    body{

        text-align: center;
        
        }



header img{

    border-radius: 150px;
}


